body{
    margin: 0 auto;
    padding: 0;
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: Roboto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
}


.home_logo{
    width: 60%;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 10px;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    margin: 0 1.5em;
}

.home_title{
  padding: 10px;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    margin: 0 1.5em;
}

.home_button{
    color: white;
    background-color: #3e09a2f0;
    padding: 10px;
    border-radius: 15px;
    border: solid 2px #3e09a2f0;
    width: 35%;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
.home_button:hover{
    background-color: #8809a2d2;
    border: solid 2px #8809a2d2;
    transition: 1.5s;
}

.footer{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: #8809a28c;
color: white;
font-size: 0.6em;
font-weight: lighter;
letter-spacing: 0.3em;
text-align: center;
height: 5vh;
}

a{
text-decoration: none;
color: white;
}

/*SELECT SESSION*/
.nav_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.selection_logo{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
}

.results_title{
  text-align: center;
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 50px;
}
.selection_container{
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom-select {
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 180px;
    margin: 20px auto;
    border: 1px solid #00c5ff75;
    background-color: #00c5ff75;
    z-index: 10;
    border-radius: 15px;
  }
  .custom-select select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: #000000
  }
  .custom-select:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: "∨";
    text-align: center;
    color: #000000;
    font-size: 24px;
    border-left: 1px solid #00c5ff75;
    z-index: -1;
  }

  .custom-select-par {
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 180px;
    margin: 20px auto;
    border: 1px solid #00c5ff75;
    background-color: #00c5ff75;
    z-index: 10;
    border-radius: 15px;
  }
  .custom-select-par select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: #000000;
  }
  .custom-select-par:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: "∨";
    text-align: center;
    color: #000000;
    font-size: 24px;
    border-left: 1px solid #00c5ff75;
    z-index: -1;
  }


  .button_submit{
    color: white;
    background-color: #5d007bf0;
    padding: 15px;
    border-radius: 15px;
    border: solid 2px #5d007bf0;
    width: 50%;
    margin: 70px auto;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
.button_submit:hover{
    background-color: #a20950d2;
    border: solid 2px #a20950d2;
    transition: 1.5s;
}

/*Results*/
.results_progress-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.progress-bar__title{
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}

.container-2 {
  display:none;
  background-color: #5d007b85;
  height: 75%;
  width: 60%;
  margin: 0 auto;
  border-radius: 40px;
}
@media (max-width: 950px){
  
  #resultsTitle{
    font-size: 1.4em;
    padding-top: 10%;
  }
  .container-2{
    height: 70%;
    width: 80%;
    border-radius: 20px;

}
}


#refresh {
  margin: 1.5% auto;
  text-align: center;
  display: flex;
  justify-content: center;
}


.wrapper{
  width: 70%;
}

.progress-bar{
  width:100%;
  background-color:#e0e0e0;
  padding: 3px;
  border-radius:10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill-love{
  display:block;
  background-color: #ff0055;
  height: 22px;
  border-radius: 9px;
}
.progress-bar-fill-friend{
  display:block;
  background-color: #00ff00;
  height: 22px;
  border-radius: 9px;
}
.progress-bar-fill-sex{
  display:block;
  background-color: #ff0000;
  height: 22px;
  border-radius: 9px;
}
.progress-bar-fill-total{
  display:block;
  background-color: #00265f;
  height: 22px;
  border-radius: 9px;
}

h4{
  text-align: left;
  color: white;
    font-weight: 500;
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.progress-text{
  display: inline;
    margin: 0 50%;
    font-size: 1.3em;
    font-weight: 600;
    padding: 3px 0;
    color: white;
    font-family: monospace;
    text-shadow: 1px 1px rgb(61, 0, 70);
}