body{
    margin: 0 auto;
    padding: 0;
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    font-family: Roboto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.home_logo{
    width: 70%;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 10px;
    font-size: 1em;
    text-align: center;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    margin: 0 1.5em;
}

.home_button{
    color: white;
    background-color: #3e09a2f0;
    padding: 10px;
    border-radius: 15px;
    border: solid 2px #3e09a2f0;
    width: 35%;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
.home_button:hover{
    background-color: #8809a2d2;
    border: solid 2px #8809a2d2;
    transition: 1.5s;
}

.footer{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: #3e09a2f0;
color: white;
font-size: 0.6em;
font-weight: lighter;
letter-spacing: 0.3em;
text-align: center;
}

a{
text-decoration: none;
color: white;
}

/*SELECT SESSION*/
.nav_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.selection_logo{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    justify-content: center;
}

.results_title{
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 50px;
}
.selection_container{
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom-select {
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 180px;
    margin: 20px auto;
    border: 1px solid #00c5ff75;
    background-color: #00c5ff75;
    z-index: 10;
    border-radius: 15px;
  }
  .custom-select select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: #000000
  }
  .custom-select:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: "∨";
    text-align: center;
    color: #000000;
    font-size: 24px;
    border-left: 1px solid #00c5ff75;
    z-index: -1;
  }

  .custom-select-par {
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 180px;
    margin: 20px auto;
    border: 1px solid #00c5ff75;
    background-color: #00c5ff75;
    z-index: 10;
    border-radius: 15px;
  }
  .custom-select-par select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: #000000;
  }
  .custom-select-par:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: "∨";
    text-align: center;
    color: #000000;
    font-size: 24px;
    border-left: 1px solid #00c5ff75;
    z-index: -1;
  }


  .button_submit{
    color: white;
    background-color: #5d007bf0;
    padding: 15px;
    border-radius: 15px;
    border: solid 2px #5d007bf0;
    width: 50%;
    margin: 70px auto;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
.button_submit:hover{
    background-color: #a20950d2;
    border: solid 2px #a20950d2;
    transition: 1.5s;
}

/*Results*/
.results_progress-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-bar__title{
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}

/* #progressBarBorder{
    background-color:white;
    border-radius: 20px;
    width: auto;
    padding: 5px;
} */

#progressBarFiller{
    background-color: #10e3ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 5px;
}

#progressBarPercents{
    text-align: center;
    align-items: center;
    color: white;
}
#progressBarText{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}


